@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
}

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'Xiaomi Brand';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('https://i02.appmifile.com/i18n/fonts/Brand/Brand.woff2') format('woff2');
  }

  body .mi-brand {
    font-family: 'Xiaomi Brand', 'Noto Sans KR', sans-serif;
  }

  body .mi-brand.mi-brand--xiaomi,
  body .mi-brand.mi-brand--poco {
    font-weight: bold !important;
  }

  body .mi-brand.mi-brand--redmi {
    font-weight: normal !important;
  }
}