@charset "utf-8";
/* 샤오미 pj 메인 페이지 CSS - main.css */

/* 외부 CSS 불러오기 */
@import url(./reset.css);
@import url(./core.css);

/* 12그리드 css */
@import url(./grid_12_flex.css);

/* 공사중 표시 */
body * {
    outline: 2px dashed #ccc;
}

 /************************ 메인 CSS  ************************/
 /************************ 1. 상단영역  ************************/
 .top-area{
    height: 122px;
 }

 /************************ 1.5. 드라마파트 메뉴  ************************/
 /************************ 2. 메인영역  ************************/
 /************************ 2-1. 배너 영역  ************************/
 .banner-part{
    /* 비율세팅: 배너 이미지 크기 비율임! */
    aspect-ratio: 1360/592;
    background: url(../images/도깨비배너1-1.png) no-repeat center/cover;
 }
 /************************ 2-2. 캐릭터소개 영역  ************************/
 .character-part{
    height: 188px;
 }
 /************************ 2-3. 드라마소개 영역 ************************/
 .drama-part{
     height: 500px;
 }
 /************************ 2-4. 미리보기 영역  ************************/
 .preview-part{
     height: 660px;
 }
 /************************ 2-5. 현장포토 영역  ************************/
 .field-part{
     height: 906px;
 }
 /************************ 2-6. 대표포스터 영역 ************************/
 .poster-part{
    height: 654px;
}
 /************************ 2-7. 최신동영상 영역  ************************/
 .video-part{
    height: 409px;
}
 /************************ 3. 하단영역  ************************/
 .bottom-area{
    height: 391px;
}